
.home-page {

    height:100%;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.input-search {
    padding: .5rem;
    width: min(80vw, 100%);
    border-radius: 5px;
}

.search-button {
    width: min(300px, 100%);
    border-radius: 5px;
    padding: .5rem;
}

.card-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    width: min(350px, 100%);
    background-color: white;
}

.card {
    height: 300px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container:hover {
    cursor: pointer;
    opacity: .5;
}
.card2 {
height: 200px;
width: 300px;
background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}